<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @task.detail %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @task.deadline %>
</p>

<p>
  <strong>Progress:</strong>
  <%= @task.progress %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @task.priority %>
</p>

<div class="btn btn-success"><%= link_to 'Edit', edit_task_path(@task) %> </div>
<div class="btn btn-danger"><%= link_to 'Back', tasks_path %> </div>
